<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290449947226-2f15m4aftmmmvhennju2debs73gfpi0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290449947226-2f15m4aftmmmvhennju2debs73gfpi0n</string>
	<key>API_KEY</key>
	<string>AIzaSyCCdjF4Vfmv4QP_4v7h8AuB0iXnTxguVJU</string>
	<key>GCM_SENDER_ID</key>
	<string>290449947226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anathayna.wassup</string>
	<key>PROJECT_ID</key>
	<string>wassup-f6d12</string>
	<key>STORAGE_BUCKET</key>
	<string>wassup-f6d12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290449947226:ios:2119d185ab71ada946f663</string>
</dict>
</plist>